body{
    background-color: chartreuse;
    
}
.city{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    height: 100px;
    width: 200px;
    
}
.game{
    background-color: tomato;
    color: black;
    border: 4px solid black;
    margin: 20px;
    padding: 20px;
    height: 100px;
    width: 200px;
    
}
.anime{
    background-color: blueviolet;
    border: 4px solid chocolate;
    margin: 40px;
    padding: 20px;
    width: 100px;
    height: 100px;
}